-
	let info = [
		{
			image:['img/goods/Rectangle 122-2.jpg','img/goods/Rectangle 122-1.jpg','img/goods/Rectangle 122-2.jpg','img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-4.jpg','img/goods/Rectangle 122-5.jpg'],
			head: 'Capital hill residence',
			place: 'East London',
			apps:{
				bad: 6,
				cutlery:2,
				bath: 3
			},
			price: '$5527.00',
			link: 'capital-hill-residence.html'
		},
		{
			image:['img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-1.jpg','img/goods/Rectangle 122-2.jpg','img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-4.jpg','img/goods/Rectangle 122-5.jpg'],
			head: 'Picket Fence Realty',
			place: 'East London',
			apps:{
				bad: 2,
				cutlery:7,
				bath: 1
			},
			price: '$6727.00',
			link: 'capital-hill-residence.html'
		},
		{
			image:['img/goods/Rectangle 122-4.jpg','img/goods/Rectangle 122-1.jpg','img/goods/Rectangle 122-2.jpg','img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-4.jpg','img/goods/Rectangle 122-5.jpg'],
			head: 'Banyon Tree Realty',
			place: 'East London',
			apps:{
				bad: 1,
				cutlery:2,
				bath: 3
			},
			price: '$4327.00',
			link: 'capital-hill-residence.html'
		},
		{
			image:['img/goods/Rectangle 122-5.jpg','img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-2.jpg','img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-4.jpg','img/goods/Rectangle 122-5.jpg'],
			head: 'Banyon Tree Realty',
			place: 'East London',
			apps:{
				bad: 1,
				cutlery:2,
				bath: 3
			},
			price: '$4327.00',
			link: 'capital-hill-residence.html'
		},
			{
			image:['img/goods/Rectangle 122.jpg','img/goods/Rectangle 122-1.jpg','img/goods/Rectangle 122-2.jpg','img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-4.jpg','img/goods/Rectangle 122-5.jpg'],
			head: 'Banyon Tree Realty',
			place: 'East London',
			apps:{
				bad: 1,
				cutlery:2,
				bath: 3
			},
			price: '$4327.00',
			link: 'capital-hill-residence.html'
		},
			{
			image:['img/goods/Rectangle 122-1.jpg','img/goods/Rectangle 122-1.jpg','img/goods/Rectangle 122-2.jpg','img/goods/Rectangle 122-3.jpg','img/goods/Rectangle 122-4.jpg','img/goods/Rectangle 122-5.jpg'],
			head: 'Banyon Tree Realty',
			place: 'East London',
			apps:{
				bad: 1,
				cutlery:2,
				bath: 3
			},
			price: '$4327.00',
			link: 'capital-hill-residence.html'
		}
	]