-
	let reviews = [
		{
			image: 'img/reviews/item-1.jpg',
			name: 'Justin Lee',
			work:'Products Designer at Ito',
			description: 'A good real estate agent doesn\'t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought Bringing It All Together.',
		},
			{
			image: 'img/reviews/item-2.jpg',
			name: 'Angel Cathe',
			work:'Products Designer at Ito',
			description: 'A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought be Bringing It All Together there.',
		},
		{
			image: 'img/reviews/item-1.jpg',
			name: 'Angel Cathe',
			work:'Products Designer at Ito',
			description: 'A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought be Bringing It All Together there.',
		},
		{
			image: 'img/reviews/item-2.jpg',
			name: 'Angel Cathe',
			work:'Products Designer at Ito',
			description: 'A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money.Been there. Done that. Sold. Bought be Bringing It All Together there.',
		},
	]
