.center
	.container
		.center__inner
			.center__left.show-left
				h1.head Find the perfect place to stay with your family
				p.descr.show-top Buying a home is a life-changing experience, so shouldn't your real estate agent be a life changer.
				include _tabs.pug
			.center__right.show-right
				img(src="img/intro-image.jpg", alt="image" data-tilt-full-page-listening data-tilt data-tilt-reverse="true")