section.email
	.container
		img(src="img/icons/Ellipse-1.svg", alt="Ellipse-1")
		img(src="img/icons/Ellipse-2.svg", alt="Ellipse-2")
		.email__inner
			h2.email__head Get listed your home as  a owner
			p Here is a list of the greatest real estate company slogans of all-time. These catchy slogans are followed by the Greatest Real Estate.
		form.email__form
			input(type="text" placeholder="Enter email address").email__input
			button(type="submit").btn.btn-big Subscribe
