header.header
	.container
		.header__inner.show-center
			a(href="#").header__logo 
				img(src="img/logo.png", alt="logo")
			button.btn.header-btn-mobile
				span 
				span 
				span 
				span 
			.header__nav
				include _nav.pug