-
	let menu = [
		{text:'Partners',link:'#partners'},
		{text:'Properties',link:'#Properties'},
		{text:'Featured', link:'#Featured'},
		{text:'Reviews', link:'#Reviews'}
	];
nav.nav
	ul.nav__list
		each item in menu
			li
				a(href= item.link )= item.text
	button.btn.btn-big.nav-btn Contact us