include mix/_review.pug
include base/_reviews.pug
section.reviews#Reviews
	.container
		.reviews__inner
			span.label Reviews 
			h2.title
				span Our valuable customer says
		.reviews__list
			each item in reviews.length ? reviews: [{name: 'Пусто',}]
				+review(item)

