@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";
@import "mixins.scss";
@import "libs/slick.scss";
@import "general.scss";

@import "components/intro.scss";
@import "components/header.scss";
@import "components/nav.scss";
@import "components/center.scss";
@import "components/tabs.scss";
@import "components/partners.scss";
@import "components/popular.scss";
@import "components/featured.scss";
@import "components/reviews.scss";
@import "components/review.scss";
@import "components/email.scss";
@import "components/footer.scss";
@import "components/modal.scss";

@import "components/error.scss";
