.card {
  box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
  flex: 1 1 30%;
  border-radius: 10px;
  overflow: hidden;
  &__top {
    height: 321px;
    overflow: hidden;
    font-size: 0;
    img {
      transition: 0.25s ease;
      object-fit: cover;
      width: 100%;
      height: 321px;
    }
  }
  &__bottom {
    padding: 30px;
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
      }
      .btn-like {
        background-color: transparent;
        &.liked {
          svg path {
            fill: red;
          }
        }
      }
    }
    &-place {
      span {
        display: flex;
        align-items: center;

        color: $text;
        img {
          margin-right: 11px;
        }
      }
    }
    &-appts {
      display: flex;
      align-items: center;

      margin: 20px 0;
      .appt {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        img {
          margin-right: 6px;
        }
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: $prioritet;
      }
      a {
        text-decoration: none;
        border-radius: 5px;
        transition: 0.25s ease;
        @media (hover: hover) {
          &:hover {
            background-color: darken($accent, 5);
          }
        }
      }
    }
  }
}
