.center {
  margin-top: 135px;
  position: relative;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    position: relative;
    z-index: 10;
    h1 {
      font-weight: 600;
      font-size: 61px;
      line-height: 120%;
      max-width: 558px;
      color: #030a1b;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        font-size: 50px;
      }
      @media (max-width: 424px) {
        font-size: 35px;
        margin-bottom: 20px;
      }
    }
    p {
      max-width: 558px;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: $text;
      margin-bottom: 40px;
      @media (max-width: 424px) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
    @media (max-width: 900px) {
      flex: 1 1 100%;
    }
  }
  &__right {
    min-height: 615px;
    position: relative;
    @media (max-width: 900px) {
      display: none;
    }

    img {
      border-radius: 10px;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 484px;
      height: 100%;
    }
  }
}
