.featured {
  background-color: #f9f9f9;
  padding: 70px 0;
  &__inner {
  }
  &__left {
    @media (max-width: 1023px) {
      margin-bottom: 30px;
    }
    @media (max-width: 550px) {
      margin-bottom: 0px;
    }
  }
  &__right {
  }
  &__top {
    text-align: center;

    .descr {
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 70px;
      max-width: 728px;
    }
  }
  &__center {
    display: flex;
    align-items: flex-end;

    img {
      border-radius: 10px;
      width: 100%;
      height: fit-content;
    }
    @media (max-width: 1023px) {
      align-items: initial;
      position: sticky;
      top: 30px;
    }
    @media (max-width: 550px) {
      position: static;
    }
  }
  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    @media (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
}
.featured-card {
  box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.25s ease;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__image {
    background-color: rgba($prioritet, 0.1);
    width: 46px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 10px;
  }
  p {
    color: $text;
  }
}
