.footer {
  margin-bottom: 60px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    &-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 262px;
      p {
        opacity: 0.7;
        font-weight: normal;
        margin-bottom: 25px;
      }
      ul {
        column-gap: 15px;
        display: flex;
        a {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $prioritet;
          border-radius: 50%;
          transition: 0.25s ease;
          @media (hover: hover) {
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  &__item {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;

      margin-bottom: 25px;
    }
    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      a {
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        text-transform: capitalize;
        color: #030a1b;
        opacity: 0.7;
      }
    }
  }
}
