.form {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;

  label {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: bold;

    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
    &.country {
      display: flex;
      input {
        border-radius: 0 5px 5px 0;
        border-left: none;
      }
      select {
        padding: 0 5px;
        font-family: inherit;
        outline: none;
        background-color: transparent;
        margin-top: 5px;
        border: none;
        height: 44px;
        border: 2px solid rgba($accent, 0.6);
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
  &__country {
    display: flex;
    align-items: center;
  }
  textarea {
    flex: 1 1 100%;
    resize: none;
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    min-height: 100px;
  }
  &__input,
  textarea {
    outline: none;
    font-family: inherit;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid rgba($accent, 0.6);
    &::placeholder {
      color: rgba($text, 0.3);
    }
  }
  &__submit {
    margin-right: 0;
    margin-left: auto;
    border-radius: 5px;
  }
}
