.nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    @media (max-width: 1023px) {
      display: none;
    }
    a {
      padding: 0 25px;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      transition: 0.25s ease;
      @media (hover: hover) {
        &:hover {
          color: $prioritet;
        }
      }
    }
    li {
      &:last-child {
        a {
          padding-right: 50px;
        }
      }
    }
  }
  &-btn {
    @media (max-width: 550px) {
    }
  }
}
