.partners {
  padding: 70px 0 140px 0;
  @media (max-width: 550px) {
    padding: 35px 0 70px 0;
  }

  &__inner {
    h2 {
      display: block;
      text-align: center;
      margin-bottom: 66px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &-item {
      text-align: center;
      a {
        display: flex;
      }
      img {
        transition: 0.25s ease;
      }

      @media (hover: hover) {
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      @media (max-width: 1023px) {
        flex: 0 1 50%;
        justify-content: center;
        margin-bottom: 20px;
        a {
          justify-content: center;
        }
      }
      @media (max-width: 424px) {
        flex: 1 1 100%;
      }
    }
  }
  @media (max-width: 424px) {
    padding-bottom: 120px;
  }
}
