.tabs {
  position: relative;

  z-index: 2;

  &__buttons {
    display: flex;
    position: relative;
    z-index: 100;
    border-radius: 5px 5px 0 0;
    ul {
      background-color: #fff;
      display: flex;
      align-items: center;

      padding: 15px 31px;
      li {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        cursor: pointer;
        color: $text;
        &.active {
          color: $prioritet;
        }
        &:not(:last-child) {
          margin-right: 44px;
        }
        @media (max-width: 424px) {
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
      @media (max-width: 424px) {
        width: 100%;
        justify-content: space-between;
        padding: 20px 20px 10px 20px;
      }
    }
  }
  &__contents {
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 842px;
    border-radius: 0 5px 5px 5px;

    position: relative;
    top: -2px;
    &-item {
      display: none;
      padding: 30px;

      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      &-block {
        display: flex;
        flex-direction: column;
        position: relative;
        .select {
          cursor: pointer;
          font-family: "Poppins", sans-serif;
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;
          color: $text;
          img {
            margin-left: 11px;
            display: block;
          }
          &-wrapper {
            position: absolute;
            width: 150px;
            top: 30px;
            height: 0;
            overflow: hidden;
            transition: 0.25s ease;
            z-index: 1000;
            overflow-y: auto;
            &.active {
              height: 300px;
            }
            @media (max-width: 767px) {
              width: 100%;
            }
          }
          &-list {
            background-color: #fff;

            li {
              padding: 10px 10px;
              cursor: pointer;
              transition: 0.1s ease;
              &:hover {
                background-color: $accent;
                color: #fff;
              }
            }
          }
          @media (max-width: 424px) {
            margin-bottom: 0;
          }
        }
        span {
          font-weight: 500;
          font-size: 22px;
          line-height: 33px;
        }
        button.btn-def {
          display: flex;
          align-items: center;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          background-color: $accent;
          border-radius: 10px;
          padding-top: 15px;
          padding-bottom: 15px;
          color: #fff;

          img {
            display: block;
            margin-right: 11px;
          }
        }
        @media (max-width: 767px) {
          flex: 1 1 50%;
          &:nth-child(1),
          &:nth-child(3) {
            margin-bottom: 20px;
          }
        }
        @media (max-width: 424px) {
          flex: 1 1 100%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          &:nth-child(1),
          &:nth-child(3) {
            margin-bottom: 0;
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &:last-child {
            button {
              justify-content: center;
              width: 100%;
            }
          }
        }
      }
      &.active {
        display: flex;
      }
      .line {
        width: 1px;
        height: 34px;
        opacity: 0.1;
        background-color: #030a1b;

        @media (max-width: 900px) {
          display: none;
        }
      }
      @media (max-width: 900px) {
        padding: 20px;
      }
    }
    @media (max-width: 900px) {
      width: 100%;
    }
  }
}
